h1
{
    text-align: center;
}

.tiszato
{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    text-align: justify;
}

#ugras:hover
{
    background-color: rgb(25, 152, 194);
}
#video{
    text-align: center;
    padding-top: 100px;
}
.kepek{
    width: 300px;
}
.kepek:hover{
    border: 1px solid blue;
    box-shadow: 2px 2px blue;
}
